$white-color: #0d8884;
$height100: 100%;

ion-grid {
    width:100%;
    height: $height100;
    background: $white-color;
}

ion-row {
    height: $height100;
}

ion-col {
    border: 1px solid $white-color;
    background: $white-color;
}

ion-button {
    font-weight: 300;
}

@media (min-width: 240px) and (max-width: 768px) {
    ion-grid {
        background: $white-color;
    }
    ion-col {
        border: none;
        padding: 0;
        margin: -6px;
    }
}

.item-input.sc-ion-label-md-h, .item-input .sc-ion-label-md-h {
    -ms-flex: initial;
    flex: initial;
    max-width: 200px;
    font-size: 1.5em;
    pointer-events: none;
}
ion-item {
  --border-color: #ffffff;
  --highlight-color-focused: #ffffff;
  --background: transparent;
}
ion-content, ion-footer, ion-toolbar {
  --background: #0d8884;
}

ion-input {
  --color: #ffffff;
}

.btn-login {
  --border-color: #ffffff;
  --color: #ffffff;
}

.btn-resetpwd {
  --border-color: transparent;
  --color: #ffffff;
  font-size: 0.8rem;
  text-decoration: underline;
}

.btn-register {
  --border-color: transparent;
  --color: #ffffff;
  font-size: 0.8rem;
}

.verte {
  --color: #0d8884;
}

.blanc {
  --color: #ffffff;
}
ion-img {
    display: inline-block;
    min-width: 109px;
    min-height: 50px;
    background: #0b8681;
    
}

.item{
    background: #0b8681;
} .item-block{
    background: #0b8681;
} .item-ios{
    background: #0b8681;
}.item-input{
    background: #0b8681;
}
.button-inner{
    background: #0b8681;
    border-color: #0d8884
}
.button{
    background: #0b8681;
    border-color: #0d8884
}